.el-main {
	box-sizing: border-box;
	padding: 15px 12px;
	overflow-x: hidden;
	background-color: var(--el-bg-color-page);
	margin-right: 1.25rem;
	border-radius: 15px;
}

.el-footer {
	height: auto;
	padding: 0;
}