/* 自定义 element 暗黑模式样式 */
html.dark {
	/* 自定义深色背景颜色 */
	---runTu-bg-color: #0d0d0d;
	---runTu-border-light: #4c4c4d;

	// login
	.login-container {
		background-color: var(--el-fill-color-extra-light) !important;

		.login-box {
			background-color: var(--el-mask-color) !important;

			.login-form {
				background-color: var(--el-bg-color) !important;
				box-shadow: 5px 5px 15px rgb(161 161 161 / 20%) !important;
			}
		}

	}

	// scroll-bar
	::-webkit-scrollbar {
		background-color: var(--el-scrollbar-bg-color) !important;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--el-border-color-darker) !important;
	}

	// layout
	.el-container {
		.el-header {
			background-color: var(---runTu-bg-color) !important;
			border-bottom-color: var(---runTu-border-light) !important
		}

		.logo {
			border-bottom: var(---runTu-border-light) !important
		}

		.el-main {
			background-color: var(---runTu-bg-color) !important;
		}

		.el-footer {
			.footer {
				background-color: var(---runTu-bg-color) !important;
				border-top-color: var(---runTu-border-light) !important
			}
		}
	}

	.el-menu,
	.el-sub-menu,
	.el-menu-item,
	.el-sub-menu__title {
		background-color: var(---runTu-bg-color) !important;





	}
}